<h1>Editing Tables Political Party</h1>

<%= render 'form', tables_political_party: @tables_political_party %>

<%= link_to 'Show', @tables_political_party %> |
<%= link_to 'Back', tables_political_parties_path %>
