<h1>Editing Headquarter Affiliated</h1>

<%= render 'form', headquarter_affiliated: @headquarter_affiliated %>

<%= link_to 'Show', @headquarter_affiliated %> |
<%= link_to 'Back', headquarter_affiliateds_path %>
