<h1>Barrios</h1>

<div class="row ml-2">
  <%= link_to "<i class='fa fa-plus'></i> Registrar barrio".html_safe, new_neighborhood_path(), 
        remote: true, 
        class: 'btn u-btn-outline-primary u-btn-hover-v1-2 mb-2' %>
          
</div>

<%= link_to "<i class='fa fa-plus'></i> FIX".html_safe, 
  fix_neighborhood_neighborhoods_path(neighborhood_name: '30 OCT', neighborhood_id: 142), 
  remote: true, 
  class: 'btn u-btn-outline-primary u-btn-hover-v1-2 mb-2' %>


<%= render( partial: 'shared/table', 
            locals: { table_id: 'neighborhoods', 
                      color: 'blue', 
                      icon: 'fa-home',
                      title: "Instituciones registradas", 
                      col_names: [ 'Bario', 'Afiliados','Institution', 'Acciones' ] }) %>